<div class="container mt-5 p-4 rounded shadow-sm bg-light">
  <h1 class="text-center mb-4 text-primary">
    <i class="bi bi-person-circle"></i> {{ descTitulo }}
  </h1>

  <form [formGroup]="funcionarioForm" (ngSubmit)="submit()">
    <!-- Nome -->
    <div class="mt-3">
      <label class="form-label fw-bold"> <i class="bi bi-card-text"></i> Nome: </label>
      <input
        type="text"
        class="form-control shadow-sm"
        formControlName="nome"
        [ngClass]="{
          'is-invalid': funcionarioForm.get('nome')?.invalid && funcionarioForm.get('nome')?.touched
        }"
        placeholder="Insira o Nome"
      />
      <div
        class="invalid-feedback"
        *ngIf="funcionarioForm.get('nome')?.invalid && funcionarioForm.get('nome')?.touched"
      >
        O nome é obrigatório
      </div>
    </div>

    <!-- Cpf -->
    <div class="mt-3">
      <label class="form-label fw-bold"> <i class="bi bi-card-text"></i> CPF: </label>
      <input
        type="text"
        class="form-control shadow-sm"
        formControlName="cpf"
        [ngClass]="{
          'is-invalid': funcionarioForm.get('cpf')?.invalid && funcionarioForm.get('cpf')?.touched
        }"
        placeholder="Insira o CPF"
      />
      <div
        class="invalid-feedback"
        *ngIf="funcionarioForm.get('cpf')?.invalid && funcionarioForm.get('cpf')?.touched"
      >
        O CPF é obrigatório
      </div>
    </div>

    <!-- Email -->
    <div class="mt-3">
      <label class="form-label fw-bold"> <i class="bi bi-card-text"></i> Email: </label>
      <input
        type="text"
        class="form-control shadow-sm"
        formControlName="email"
        [ngClass]="{
          'is-invalid':
            funcionarioForm.get('email')?.invalid && funcionarioForm.get('email')?.touched
        }"
        placeholder="Insira o Email"
      />
      <div
        class="invalid-feedback"
        *ngIf="funcionarioForm.get('email')?.invalid && funcionarioForm.get('email')?.touched"
      >
        O email é obrigatório
      </div>
    </div>

    <!-- Salario -->
    <div class="mt-3">
      <label class="form-label fw-bold"> <i class="bi bi-card-text"></i> Salário: </label>
      <input
        type="text"
        class="form-control shadow-sm"
        formControlName="salario"
        [ngClass]="{
          'is-invalid':
            funcionarioForm.get('salario')?.invalid && funcionarioForm.get('salario')?.touched
        }"
        placeholder="Insira o Salário"
      />
      <div
        class="invalid-feedback"
        *ngIf="funcionarioForm.get('salario')?.invalid && funcionarioForm.get('salario')?.touched"
      >
        O Salário é obrigatório
      </div>
    </div>

    <!-- Data de Admissão -->
    <div class="mt-3">
      <label class="form-label fw-bold"> <i class="bi bi-card-text"></i> Data de Admissão: </label>
      <input
        type="date"
        class="form-control shadow-sm"
        formControlName="dataAdmissao"
        [ngClass]="{
          'is-invalid':
            funcionarioForm.get('dataAdmissao')?.invalid &&
            funcionarioForm.get('dataAdmissao')?.touched
        }"
        placeholder="Insira a Data de Admissão "
      />
      <div
        class="invalid-feedback"
        *ngIf="
          funcionarioForm.get('dataAdmissao')?.invalid &&
          funcionarioForm.get('dataAdmissao')?.touched
        "
      >
        A Data de Admissão é obrigatório
      </div>
    </div>

    <!-- Status -->
    <div class="mt-3">
      <label class="form-label fw-bold"><i class="bi bi-card-text"></i> Status:</label>
      <select
        class="form-control shadow-sm"
        formControlName="status"
        [ngClass]="{
          'is-invalid':
            funcionarioForm.get('status')?.invalid && funcionarioForm.get('status')?.touched
        }"
      >
        <option value="">Selecione o status</option>
        <option *ngFor="let s of status" [value]="s">{{ s }}</option>
      </select>
      <div
        class="invalid-feedback"
        *ngIf="funcionarioForm.get('status')?.invalid && funcionarioForm.get('status')?.touched"
      >
        O status é obrigatório
      </div>
    </div>

    <!-- CEP -->
    <div class="mt-3">
      <label class="form-label fw-bold"><i class="bi bi-geo-alt"></i> CEP</label>
      <input
        type="text"
        class="form-control shadow-sm"
        formControlName="cep"
        (blur)="buscarCep()"
        placeholder="Insira o CEP"
        [ngClass]="{
          'is-invalid': funcionarioForm.get('cep')?.invalid && funcionarioForm.get('cep')?.touched
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="funcionarioForm.get('cep')?.invalid && funcionarioForm.get('cep')?.touched"
      >
        O CEP é obrigatório
      </div>
    </div>

    <!-- Logradouro -->
    <div class="mt-3">
      <label class="form-label fw-bold"><i class="bi bi-geo-alt"></i>Logradouro</label>
      <input type="text" class="form-control shadow-sm" formControlName="logradouro" readonly />
    </div>

    <!-- Bairro -->
    <div class="mt-3">
      <label class="form-label fw-bold"><i class="bi bi-geo-alt"></i>Bairro</label>
      <input type="text" class="form-control shadow-sm" formControlName="bairro" readonly />
    </div>

    <!-- Cidade -->
    <div class="mt-3">
      <label class="form-label fw-bold"><i class="bi bi-geo-alt"></i>Cidade</label>
      <input type="text" class="form-control shadow-sm" formControlName="cidade" readonly />
    </div>

    <!-- UF -->
    <div class="mt-3">
      <label class="form-label fw-bold"><i class="bi bi-geo-alt"></i>UF</label>
      <input type="text" class="form-control shadow-sm" formControlName="uf" readonly />
    </div>

    <!-- Departamento -->
    <div class="mt-3">
      <label class="form-label fw-bold"><i class="bi bi-building"></i> Departamento:</label>
      <select
        class="form-control shadow-sm"
        formControlName="departamentoId"
        [ngClass]="{
          'is-invalid':
            funcionarioForm.get('departamentoId')?.invalid &&
            funcionarioForm.get('departamentoId')?.touched
        }"
      >
        <option value="">Selecione o departamento</option>
        <option *ngFor="let d of departamentos" [value]="d.id">{{ d.nome }}</option>
      </select>
      <div class="invalid-feedback">O departamento é obrigatório</div>
    </div>

    <!-- Cargo -->
    <div class="mt-3">
      <label class="form-label fw-bold"><i class="bi bi-briefcase"></i> Cargo:</label>
      <select
        class="form-control shadow-sm"
        formControlName="cargoId"
        [ngClass]="{
          'is-invalid':
            funcionarioForm.get('cargoId')?.invalid && funcionarioForm.get('cargoId')?.touched
        }"
      >
        <option value="">Selecione o cargo</option>
        <option *ngFor="let c of cargos" [value]="c.id">{{ c.nome }}</option>
      </select>
      <div class="invalid-feedback">O cargo é obrigatório</div>
    </div>

    <!-- Botões -->
    <div class="d-flex mt-4 gap-3">
      <button class="btn btn-success w-50 shadow-sm" type="submit">
        <i class="bi bi-check-circle"></i> {{ btnAcao }}
      </button>
      <a class="btn btn-info w-50 shadow-sm" [routerLink]="['/homeFuncionario']">
        <i class="bi bi-arrow-left"></i> Voltar
      </a>
    </div>
  </form>
</div>
